<h1>Account Log In</h1>
<hr>
<div class='row'>
  <div class='col-md'>
    <%= form_with url: session_path do |form| %>
      <div class='mb-3'>
        <%= form.label :email_address, 'Email address', class: 'form-label' %>
        <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: 'username', value: params[:email_address], class: 'form-control' %>
      </div>
      <div class='mb-3'>
        <%= form.label :password, 'Password', class: 'form-label' %>
        <%= form.password_field :password, required: true, autocomplete: 'current-password', maxlength: 72, class: 'form-control' %>
      </div>
      <div class='text-end'>
        <%= form.submit 'Log in', class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
  <div class='col-md text-center'>
    <% unless @construction %>
      <div class='row' style='padding-top: 40px'>
        <%= link_to 'Need to create an account instead?', sign_up_path %>
      </div>
    <% end %>
    <div class='row' style='padding-top: 40px'>
      <%= link_to 'Forgot password?', new_password_path %>
    </div>
  </div>
</div>
