<h1>Sign Up for a New Account</h1>
<hr>
<div class='row'>
  <div class='col-md'>
    <%= form_with url: create_user_path, method: :post do |form| %>
      <div class='mb-3'>
        <%= form.label :email_address, 'Email address', class: 'form-label' %>
        <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: 'username', value: @email_address, class: 'form-control' %>
      </div>
      <div class='mb-3'>
        <%= form.label :password, 'Password', class: 'form-label' %>
        <%= form.password_field :password, required: true, autocomplete: 'current-password', maxlength: 72, class: 'form-control' %>
      </div>
      <div class='mb-3'>
        <%= form.label :confirm_password, 'Password Confirmation', class: 'form-label' %>
        <%= form.password_field :confirm_password, required: true, maxlength: 72, class: 'form-control' %>
      </div>
      <div class='text-end'>
        <%= form.submit 'Create Account', class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
  <div class='col-md text-center' style='padding-top: 40px'>
    <%= link_to 'Need to sign into an existing account instead?', new_session_path %>
  </div>
</div>
