<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "ACPS" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Acps Site">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body style='background-color:#0c3f3c'>
    <%= render 'shared/flash' %>
    <div class='container text-center' style='color: black; margin-top: 5%; width: 100%; background-color: white; padding: 20px; border-radius: 10px 10px 0px 0px; font-size: 20px;'>
      <div class='md-3'>
        <%= image_tag 'primary-transparent.png', width: '50%', alt: 'logo' %>
      </div>
   </div>
    <div class='container text-center' style='color: white; width: 100%; background-color: black; padding: 20px; border-radius: 0px 0px 10px 10px; font-size: 20px;'>
      <div style='width: 100%'>
        <h2>Coming soon!</h2>
        <p>
          We are building a nonprofit dedicated to revitalizing historic theaters, building new theaters,
          and other projects around cinema in the Appalachian region.
        </p>
        <p>
          If interested in learning more, please sign up for our Mailing List!
        </p>
        <p>
          <%= form_with url: email_signup_path, method: :post do |form| %>
            <div class='row'>
              <div class='col-md'>
                <%= form.text_field :email_address, class: 'form-control', placeholder: 'you@excited.com' %>
              </div>
              <div class='col-md'>
                <%= form.submit 'Sign me up!', class: 'btn btn-primary', style: 'width:100%' %>
              </div>
            </div>
          <% end %>
        </p>
      </div>
    </div>
  </body>
</html>
